.why-choose-us {
  padding: 100px 60px;
  background: linear-gradient(-45deg, #F7B313, #F17F4F,#6E6B8E, #1C486C, #262C4B);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.why-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.title-divider {
  width: 100px;
  height: 4px;
  margin: 0 auto 60px;
  border-radius: 2px;

  background: linear-gradient(270deg,
    #ff0000,
    #ff9900,
    #ffff00,
    #33ff00,
    #00ffff,
    #3300ff,
    #ff00cc,
    #ff0000
  );
  background-size: 1600% 100%;
  animation: rgbFlow 5s linear infinite;
}

@keyframes rgbFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}



.values-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.value-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px 30px;
  flex: 1;
  min-width: 280px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.value-card:hover {
  transform: translateY(-12px) scale(1.01);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.3);
}

.value-title {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #fff;
}

.underline-ultra,
.underline-ruby,
.underline-dlss {
  width: 50px;
  height: 4px;
  margin-bottom: 20px;
}

.underline-ultra {
  background-color: #2D355B;
}
.underline-ruby {
  background-color: #FF2E2C;
}
.underline-dlss {
  background-color: #8CC328;
}

.value-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
  text-align: left;
  color: #ddd;
}

.value-list li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #eee;
}

.value-logo {
  width: 80px;
  height: auto;
  opacity: 0.85;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.value-logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}

.dlss-logo {
  width: 200px;
  padding-top: 50px;
}

.ultra-logo {
  padding-top: 15px;
}

.value-card {
  border-top: 6px solid transparent;
}

.value-card:nth-child(1) {
  border-top-color: #2D355B;
}
.value-card:nth-child(2) {
  border-top-color: #FF2E2C;
}
.value-card:nth-child(3) {
  border-top-color: #8CC328;
}
